// vim: cursorcolumn:ft=dts

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include "zmk-helpers/helper.h"

#define BASE 0
#define SYMB 1
#define NAV 2
#define MISC 3
#define NUMP 4
#define FUNC 5

#define HYPER LC(LS(LG(LALT)))
#define MEH LC(LS(LALT))
#define PREVTAB LC(LS(TAB))
#define NEXTTAB LC(TAB)
#define NAVBACK LG(LBKT)
#define NAVFWD LG(RBKT)

#define KP_ASTR KP_ASTERISK

/* Logical Toucan 36 positions within the stock 42-key Toucan transform. */
#define LT0 1
#define LT1 2
#define LT2 3
#define LT3 4
#define LT4 5
#define RT0 6
#define RT1 7
#define RT2 8
#define RT3 9
#define RT4 10
#define LM0 13
#define LM1 14
#define LM2 15
#define LM3 16
#define LM4 17
#define RM0 18
#define RM1 19
#define RM2 20
#define RM3 21
#define RM4 22
#define LB0 25
#define LB1 26
#define LB2 27
#define LB3 28
#define LB4 29
#define RB0 30
#define RB1 31
#define RB2 32
#define RB3 33
#define RB4 34
#define LH2 36
#define LH1 37
#define LH0 38
#define RH0 39
#define RH1 40
#define RH2 41

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2

/* left-hand HRMs */
ZMK_BEHAVIOR(hml, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <300>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
)

/* right-hand HRMs */
ZMK_BEHAVIOR(hmr, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <300>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

/* left-hand HRM shift */
ZMK_BEHAVIOR(hml_s, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
)

/* right-hand HRM shift */
ZMK_BEHAVIOR(hmr_s, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
)

/* symbol-layer HRMs */
ZMK_BEHAVIOR(hml_sym, hold_tap,
    flavor = "tap-preferred";
    tapping-term-ms = <150>;
    quick-tap-ms = <0>;
    require-prior-idle-ms = <200>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
)

ZMK_BEHAVIOR(hmr_sym, hold_tap,
    flavor = "tap-preferred";
    tapping-term-ms = <150>;
    quick-tap-ms = <0>;
    require-prior-idle-ms = <200>;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
)

/* hold tap */
ZMK_BEHAVIOR(ht, hold_tap,
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <0>;
    require-prior-idle-ms = <0>;
    bindings = <&kp>, <&kp>;
)

/* fast layer-tap for ESC/SYMB */
ZMK_BEHAVIOR(lt_fast, hold_tap,
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <150>;
    bindings = <&mo>, <&kp>;
)

&mt {
    tapping-term-ms = <150>;
};

/ {
    behaviors {
        mo_tog: behavior_mo_tog {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&tog>;
        };
    };

    combos {
        compatible = "zmk,combos";

        sys_reset_left {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <LM0 LM1 LM2 LM3>;
            bindings = <&sys_reset>;
            layers = <BASE SYMB NAV MISC NUMP FUNC>;
        };

        sys_reset_right {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <RM1 RM2 RM3 RM4>;
            bindings = <&sys_reset>;
            layers = <BASE SYMB NAV MISC NUMP FUNC>;
        };

        soft_off_left {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <LT0 LT1 LT2 LT3>;
            bindings = <&soft_off>;
            layers = <BASE SYMB NAV MISC NUMP FUNC>;
        };

        soft_off_right {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <RT1 RT2 RT3 RT4>;
            bindings = <&soft_off>;
            layers = <BASE SYMB NAV MISC NUMP FUNC>;
        };

        combo_numpad {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <LM3 LM4>;
            bindings = <&mo_tog NUMP NUMP>;
            layers = <BASE NUMP>;
        };

        combo_enter_left {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <LM2 LM3>;
            bindings = <&kp RET>;
            layers = <BASE NUMP>;
        };

        combo_enter_right {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <RM1 RM2>;
            bindings = <&kp RET>;
            layers = <BASE NUMP>;
        };

        combo_backspace_left {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <LM1 LM2>;
            bindings = <&kp BSPC>;
            layers = <BASE NUMP>;
        };

        combo_backspace_right {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <RM2 RM3>;
            bindings = <&kp BSPC>;
            layers = <BASE NUMP>;
        };

        combo_cut {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <LB1 LB2>;
            bindings = <&kp LG(X)>;
            layers = <BASE>;
        };

        combo_copy {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <LB2 LB3>;
            bindings = <&kp LG(C)>;
            layers = <BASE>;
        };

        combo_paste {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <LB3 LB4>;
            bindings = <&kp LG(V)>;
            layers = <BASE>;
        };

        combo_sel_all {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <LB1 LB2 LB3>;
            bindings = <&kp LG(A)>;
            layers = <BASE>;
        };

        combo_mute_base {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <RB1 RB2 RB3>;
            bindings = <&kp C_MUTE>;
            layers = <BASE>;
        };

        combo_vol_down {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <RB1 RB2>;
            bindings = <&kp C_VOL_DN>;
            layers = <BASE>;
        };

        combo_vol_up {
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
            key-positions = <RB2 RB3>;
            bindings = <&kp C_VOL_UP>;
            layers = <BASE>;
        };

        combo_media_prev {
            timeout-ms = <40>;
            require-prior-idle-ms = <150>;
            key-positions = <RT0 RT1>;
            bindings = <&kp C_PREV>;
            layers = <BASE>;
        };

        combo_media_play_pause {
            timeout-ms = <40>;
            require-prior-idle-ms = <150>;
            key-positions = <RT1 RT2>;
            bindings = <&kp C_PLAY_PAUSE>;
            layers = <BASE>;
        };

        combo_media_next {
            timeout-ms = <40>;
            require-prior-idle-ms = <150>;
            key-positions = <RT2 RT3>;
            bindings = <&kp C_NEXT>;
            layers = <BASE>;
        };

        combo_brightness_down {
            timeout-ms = <40>;
            require-prior-idle-ms = <150>;
            key-positions = <LT2 LT3>;
            bindings = <&kp C_BRI_DN>;
            layers = <BASE>;
        };

        combo_brightness_up {
            timeout-ms = <40>;
            require-prior-idle-ms = <150>;
            key-positions = <LT1 LT2>;
            bindings = <&kp C_BRI_UP>;
            layers = <BASE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "BASE";
            bindings = <
       &none        &kp Q        &kp W        &kp E          &kp R             &kp T              &kp Y           &kp U        &kp I          &kp O       &kp P         &none
       &none        &hml LALT A  &hml LGUI S  &hml_s LSHFT D &hml LCTRL F      &hml HYPER G       &hmr HYPER H    &hmr LCTRL J &hmr_s LSHFT K &hmr LGUI L &hmr LALT RET &none
       &none        &kp Z        &kp X        &kp C          &hml RALT V       &hml MEH B         &hmr MEH N      &hmr RALT M  &kp COMMA      &kp DOT     &kp FSLH      &none
                                                            &none             &lt_fast SYMB ESC  &lt MISC TAB    &mt LSHFT SEMI &lt NAV SPACE &none
            >;
        };

        symbols_layer {
            display-name = "SYMB";
            bindings = <
       &none  &kp EXCL  &kp AT       &kp GRAVE  &kp CARET  &kp DLLR      &kp QUESTION  &kp LBKT  &kp RBKT  &none   &none      &none
       &none  &kp PIPE  &kp AMPS     &kp DQT    &kp MINUS  &kp EQUAL     &kp STAR      &kp LPAR  &kp RPAR  &kp LT  &kp GT    &none
       &none  &kp BSLH  &kp PERCENT  &kp SQT    &kp UNDER  &kp PLUS      &kp HASH      &kp LBRC  &kp RBRC  &none   &kp TILDE &none
                                               &none        &none         &none         &kp COLON &none     &none
            >;
        };

        navigation_layer {
            display-name = "NAV";
            bindings = <
       &none        &kp N1       &kp N2       &kp N3       &kp N4       &kp N5             &kp N6       &kp N7       &kp N8       &kp N9       &kp N0       &none
       &none        &sk LALT     &sk LGUI     &sk LSHIFT   &sk LCTRL    &sk HYPER          &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &kp RET      &none
       &none        &none        &none        &none        &sk RALT     &sk MEH            &kp DELETE   &kp BSPC     &none        &none        &none        &none
                                                          &none        &kp CAPS     &caps_word         &none        &none        &none
            >;
        };

        misc_layer {
            display-name = "MISC";
            bindings = <
       &none       &sl FUNC    &kp LG(W)  &kp LG(L)       &kp LG(R)       &kp LG(T)          &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none            &none
       &none       &kp NAVBACK &kp NAVFWD &kp HOME        &kp END         &kp LG(LS(T))      &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &mkp LCLK        &none
       &none       &none       &none      &kp PREVTAB     &kp NEXTTAB     &kp LG(N)          &none           &kp PG_DN       &kp PG_UP     &none            &none            &none
                                          &none           &none           &none              &mkp RCLK       &mkp MCLK       &none
            >;
        };

        numpad_layer {
            display-name = "NUMP";
            bindings = <
       &none        &tog NUMP    &none        &none        &none        &none              &kp KP_PLUS  &kp KP_N7    &kp KP_N8    &kp KP_N9    &kp KP_ASTR  &none
       &none        &none        &none        &kp COMMA    &none        &none              &kp KP_MINUS &kp KP_N4    &kp KP_N5    &kp KP_N6    &kp KP_EQUAL &none
       &none        &none        &none        &none        &none        &none              &kp DOT      &kp KP_N1    &kp KP_N2    &kp KP_N3    &kp KP_SLASH &none
                                                          &none        &kp UNDER    &kp SPACE          &kp COLON    &kp KP_N0    &none
            >;
        };

        func_layer {
            display-name = "FUNC";
            bindings = <
       &none        &sl BASE     &out OUT_USB &out OUT_BLE &none        &bt BT_CLR         &kp F10      &kp F7       &kp F8       &kp F9       &none        &none
       &none        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4       &kp F11      &kp F4       &kp F5       &kp F6       &none        &none
       &none        &bootloader  &studio_unlock &none      &none        &none              &kp F12      &kp F1       &kp F2       &kp F3       &bootloader  &none
                                                       &none        &none        &none              &none        &none        &none
            >;
        };
    };
};
